body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}

div {
    margin: 0px;
    cursor: default;
}

#game {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
}

.card {
    /* border: 2px solid rgba(0,0,0,0.125); */
    text-align: center;
    color: black;
    font-size: 20px;
    font-weight: bolder;
}

.card-header {
    /* border-bottom: 2px solid rgba(0,0,0,0.125); */
}

.card-body {
    color: black;
    text-align: left;
    font-size: 16px;
}


.input-group {
    border: 1px solid rgba(0,0,0,0.125);
}

.input-group-text {
    border: none;
    font-size: 14px;
}

.form-control {
    border: none;
}

.btn-custom {
    width: 250px;
}